@use "reset";
@use "variables/global";

.app,
.app_modal {
    color: var(--primary-color);
    font: var(--font-m);
    display: flex;
    height: 100vh;
}

.app {
    background: var(--bg-color);
    width: 100%;
}

.content-page {
    font-family: var(--font-family-main);
    width: 100%;
}
