.ServicesList {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-s);
    width: 100%;
    padding: var(--navbar-height) var(--spacing-xs) var(--order-height) var(--spacing-xs);
    font: var(--font-s);

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-m);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-l);
        padding:
            calc(var(--navbar-height) + var(--spacing-l))
            var(--spacing-xxl)
            calc(var(--order-height) + var(--spacing-l))
            var(--spacing-xxl);
    }
}
