.CardService {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    max-height: 290px;

    .flex_space_bet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .card_icon {
        width: 100%;
        max-height: 100px;
        object-fit: cover;
    }

    .card_content {
        padding: 15px 30px 15px 15px;

        .card_title {
            font: var(--font-m);
            font-weight: bold;
        }

        .card_description {
            line-height: normal;
        }
    }

    .card_footer {
        border-top: 0.5px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        margin-top: auto;
        font: var(--font-m);
        max-height: 73px;
    }
}
