.CardService {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(165, 163, 163);

    .card_icon {
        width: 100%;
        max-height: 100px;
        object-fit: cover;
    }

    .card_content {
        border-bottom: 0.5px solid black;
        padding: 15px 30px 15px 15px;

        .card_title {
            font: var(--font-m);
            font-weight: bold;
        }

        .card_description {
            line-height: normal;
        }
    }

    .card_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        font: var(--font-m);
    }
}
