.CardService {
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-xl);
    background-color: var(--color-white);
    max-height: 290px;

    .card_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .card_header {
        display: flex;
        flex-direction: column;
    }

    .card_icon {
        width: 100%;
        max-height: 100px;
        object-fit: cover;
    }

    .card_content {
        padding: var(--spacing-m) var(--spacing-xl) var(--spacing-m) var(--spacing-m);

        .card_title {
            font: var(--font-m);
            font-weight: bold;
        }

        .card_description {
            line-height: normal;
        }
    }

    .card_footer {
        border-top: var(--border-width-thin) solid var(--border-color-default);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-m);
        margin-top: auto;
        font: var(--font-m);
        max-height: 73px;
    }
}
