.head_block {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    font: var(--font-m);
    font-weight: bold;
    text-align: center;
    height: var(--navbar-height);
}

.position_order {
    position: fixed;
    bottom: 0;
}

@media (min-width: 1024px) {
    .position_order {
        position: fixed;
        bottom: 0;
        right: 0;
    }
}
